body{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh ;
    background-color:#f3f3f3 ;
    font-family:Arial, sana-serif;
}
.calculator{
    width: 260px;
    background-color: white;
    padding: 20px ;
    border-radius: 10px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}
#display {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: white;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button:hover{
    background: #d4d4d4;
}
.equal{
    background-color: #4CAF50 ;
    color: white ;
}
.zero{
    grid-column: span 2 ;
}   